@media only screen and (min-width: 0px) and (max-width: 567px){
    .logo{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .form-in button{
        background-color: #000;
        color: #fff;
        height: 50px;
        padding: 10px 20px;
        border-radius: 20px;
        margin-left: 10px;
    }
    .s-link{
        margin-top: 10px;
        text-align: center;
        letter-spacing: 20px;
    }
    .form-in{
        margin-top: 20px;
    }
    .Blog-list img{
        height: auto;
    }
    .title{
        text-align: center;
       
    }
    .title p{
    padding-right: 0px 0px;
    }
}